@mixin generate-card(
          $min-height: 150px, 
          $text-color: $color-text-light, 
          $card-border-radius: 10px, 
          $padding: 15px, 
          $inner-margin: 5px, 
          $avatar-size: 35px, 
          $reverse: false, 
          $header_1_base: 2,
          $header_2_base: 1.6
          ) {
  
  position: relative;
  
  z-index: 1;
  /* 
  z-index: 1 решает проблему со скругленными углами в момент перехода transition
  http://stackoverflow.com/questions/20001515/chrome-bug-border-radius-not-clipping-contents-when-combined-with-css-transiti 
  */
  overflow: hidden;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  
  min-height: $min-height;
  
  padding: $padding;
  
  color: $text-color;
  line-height: 1;

  border-radius: $card-border-radius;
  
  &__header {
    display: block;
    
    @if ($reverse == true) {
      max-width: 100%;
      order: 3;
      align-self: flex-end;
    } @else {
      max-width: 70%;
    }
    
    @include generate-link($color-text-light);

    h2 {
      margin: 0 0 $inner-margin 0;
      padding: 0;

      font-size: f-base($header_1_base);
    }
    
    h3 {
      margin: 0;
      
      font-size: f-base($header_2_base);
      font-weight: normal;
    }
  }
  
  
  &__bg {
    position: absolute;
    z-index: -1;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
//    transition: filter 0.3s linear, transform 0.3s ease-in-out;
    transition-property: filter, transform;
    transition-duration: 0.3s;
    transition-timing-function: linear, ease-out;
    
    @include transition-clipping-fix;
    
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 100%;

      @include bg-gradient;
      transition: opacity 0.3s linear;
      @include transition-clipping-fix;
    }
  }


  &:hover &__bg {
    transform: scale(1.2);
    filter: saturate(150%) blur(3px);
    
    &:after {
      opacity: 0.5;
    }
  }
  
  
  &__meta {
    position: relative;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    @if ($reverse == true) {
      order: 2;
      align-self: flex-start;
    }
    max-width: 30%;
    
    margin-top: -$inner-margin;
    margin-right: -$inner-margin;
    margin-bottom: ($inner-margin * 2);
    
    font-size: f-base($header_1_base);

    &-item {
      position: relative;
      padding: $inner-margin;
      
      @include generate-link($color-text-light);
      
      &:not(:last-child) {
        margin-bottom: $inner-margin;
      }
      
      
      &:before {
        content: "";
        vertical-align: baseline;
        margin-right: ($inner-margin * 2);
        
        @include fa-icon();
        font-size: f-base(($header_1_base * 0.9));
        
        border: none;
      }

      
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        
        display: block;
        width: 150%;
        height: 100%;

        top: 0;
        left: 150%;
        
        opacity: 0;
        
        border-radius: ($border-radius/2);
        background-color: transparentize($color-accent-orange, 0.1);
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        
        transition: transform .2s ease-out;
        @include transition-clipping-fix;
      }
      
      
      &:hover {
        text-shadow: 0 0 3px rgba(0,0,0,.5);
        
        
        &:after {
          opacity: 1;

          transform: translateX(-105%);
        }
      }
      
      
      &-posts:before {
        content: $fa-var-pencil;
      }

      
      &-photos:before {
        content: $fa-var-camera;
        font-size: f-base($header_1_base * 0.8);
      }
      
      
      &-comments:before {
        content: $fa-var-comments;
      }
      
      
      &-views:before {
        content: $fa-var-eye;
      }
    }
  }
  
  
  &__authors {
    @include generate-authors();
    
    margin-left: -$inner-margin;
    margin-bottom: -$inner-margin;
    
    @if ($reverse == true) {
      flex-basis: 70%;
      flex-grow: 0;
      order: 1;
    } @else {      
      flex-basis: 100%;
      flex-grow: 1;
    }
  }
  
  
  &__author {
    @include generate-authors-item($avatar-size, $inner-margin);
  }


  @media (min-width: $size-tablet) {    
    border-radius: ($border-radius/2);
  }
}
