$card-basis: 5px;

$card-min-height: 150px;
//$card-inner-margin: $card-basis * 2;
//$card-padding: ($card-basis * 2);
//$card-border-radius: ($card-basis * 2);

$card-font-base: 2;
$card-font-step: 0.2;

$card-text-color: $color-text-light;
$card-accent-color: $color-accent-orange;