@mixin cover($w: true) {
  display: block;

  @if ($w == true) {
    width: 100%;
    height: auto;    
  } @else {
    width: auto;
    height: 100%;
  }
}


@mixin list-init {
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    padding: 0;
    
    &:before,
    &:after {
      content: none;
    }
  }
}


@mixin size($width: 0, $height: 0) {
  width: $width;
  height: $height;
}


@mixin transition ($what: all, $duration: .3s, $timing: ease-out) {
  transition: $what $duration $timing;
}


@mixin translateXY ($x, $y) {
  transform: translate($x,$y);
}


@mixin translateX ($x) {
  transform: translateX($x);
}


@mixin translateY ($y) {
  transform: translateY($y);
}


@mixin centerV {
  top: 50%;
  @include translateY(-50%);
}


@mixin centerH {
  left: 50%;
  @include translateX(-50%);
}


@mixin centerHV {
  top: 50%;
  left: 50%;
  @include translateXY(-50%, -50%);
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin generate_icon($parent, $element, $props, $size){
  @each $object in $props {
    .#{$parent}--#{$object} .#{$element}:before {
      background-position: -(index($props, $object) - 1) * $size;
    }
  }
}


@mixin numbered-text {
  &:before, &:after {
    content: " — ";
  }
}


@mixin generate-link($color: $color-text-light) {
  color: $color;
  text-decoration: none;
  
  &:hover {
  }
}


@for $i from 1 through 20 {
  .mb-#{$i*5} {margin-bottom: 5px * $i}
}