@import "../../../node_modules/font-awesome/scss/font-awesome";


@font-face {
  font-family: "PT Sans Narrow";
//    src: local("PT Sans Narrow"), local("PTSans-Narrow");
  src: url("../fonts/PTN57F_W.eot");
  src: 
    url("../fonts/PTN57F_W.eot?#iefix") format('embedded-opentype'),
    url("../fonts/PTN57F_W.woff") format("woff"),
    url("../fonts/PTN57F_W.ttf") format("truetype"),
    url("../fonts/PTN57F_W.svg") format("svg");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Narrow";
//	src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold");
  src: url("../fonts/PTN77F_W.eot");
  src:
    url("../fonts/PTN77F_W.eot?#iefix") format('embedded-opentype'),
    url("../fonts/PTN77F_W.woff") format("woff"),
    url("../fonts/PTN77F_W.ttf") format("truetype"),
    url("../fonts/PTN77F_W.svg") format("svg");

  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.eot");
  src:
    url("../fonts/PTSans-Regular.eot?#iefix") format('embedded-opentype'),
    url("../fonts/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans-Regular.ttf") format("truetype");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.eot");
  src:
    url("../fonts/PTSans-Italic.eot?#iefix") format('embedded-opentype'),
    url("../fonts/PTSans-Italic.woff") format("woff"),
    url("../fonts/PTSans-Italic.ttf") format("truetype");

  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.eot");
  src:
    url("../fonts/PTSans-Bold.eot?#iefix") format('embedded-opentype'),
    url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.ttf") format("truetype");

  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSerif-Regular.eot");
  src:
    url("../fonts/PTSerif-Regular.eot?#iefix") format('embedded-opentype'),
    url("../fonts/PTSerif-Regular.woff") format("woff"),
    url("../fonts/PTSerif-Regular.ttf") format("truetype");

  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PTSans-Italic.eot");
  src:
    url("../fonts/PTSerif-Italic.eot?#iefix") format('embedded-opentype'),
    url("../fonts/PTSerif-Italic.woff") format("woff"),
    url("../fonts/PTSerif-Italic.ttf") format("truetype");

  font-style: italic;
  font-weight: normal;
}


@font-face {
  font-family: "FollowMan";
//  src: url("../fonts/PTN57F_W.eot");
  src: 
//    url("../fonts/PTN57F_W.eot?#iefix") format('embedded-opentype'),
//    url("../fonts/PTN57F_W.woff") format("woff"),
    url("../fonts/Follow-Man.ttf") format("truetype");/*,
    url("../fonts/PTN57F_W.svg") format("svg");*/

  font-style: normal;
  font-weight: normal;
}