//$outline-debug: true;

html {
  box-sizing: border-box;

  color: $color-text-dark;
  background-color: $color-bg-light;
}

*, *:before, *:after {
  box-sizing: inherit;
  
  @include outline;
}


a {
  @include generate-link($color-text-dark);
}


body {
//  padding-top: $header-size;
}