html {
  box-sizing: border-box;

  color: $color-text-dark;
  background-color: $color-bg-light;
  background-image: url("../img/post__bg.png");
  background-repeat: repeat;
  background-size: 150px;
}

*, *:before, *:after {
  box-sizing: inherit;
  
  @include outline;
}


a {
  @include generate-link($color-text-dark, $underline: true, $hover-underline: true);
}


body {
}

img:not([class]) {
  width: 100%;
  height: auto;
}