//$outline-debug: true;

html {
  box-sizing: border-box;

  color: $color-text-dark;
  background-color: $color-bg-light;
}

*, *:before, *:after {
  box-sizing: inherit;
  
  @if (variable-exists(outline-debug)) {
    outline: 1px dotted rgba(255, 0, 0, 0.8);
  }
}


a {
  @include generate-link($color-text-dark);
}


body {
//  padding-top: $header-size;
}