$font-family: "PT Sans Narrow", sanf-serif !global;
$font-base: 10px!global;
$h1: f-base(4)!global;
$h2: f-base(3.2)!global;
$h3: f-base(2.4)!global;
$h4: f-base(2)!global;
$h5: f-base(2)!global;
$h6: f-base(1.8)!global;
$font-normal: f-base(1.4)!global;

html {
  font: normal normal normal #{$font-base} $font-family; // shortening font declaration
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: $h1;
  font-weight: 700;
}

h2 {
  font-size: $h2;
  font-weight: 700;
}

h3 {
  font-size: $h3;
}

h4, h5 {
  font-size: $h4;
}

h6 {
  font-size: $h6;
}

p {
  font-size: $font-normal; 
}

.centered-text {
  text-align: center;
}