$author-item-size: 35px;
$author-item-margin: 5px;

.authors {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  
  &__item {
    flex-basis: $author-item-size;
    margin: $author-item-margin;
    
    @media (min-width: $size-tablet) {
      flex-basis: ($author-item-size * 2);
      margin: ($author-item-margin * 2);
    }
  }  
}