@mixin generate-authors() {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}

@mixin generate-authors-item($size, $margin) {

  flex-basis: $size;
  margin: $margin;

//  @media (min-width: $size-tablet) {
//    flex-basis: ($size * 2);
//    margin: ($margin * 2);
//  }
}

.authors {
  @include generate-authors();
  
  &__item {
    @include generate-authors-item(100px, 10px);
  }
}