.avatar {
  position: relative;
  
  display: block;
  overflow: hidden;
    
  border-radius: 50%;

  img {
    @include cover;
  }
  
  @include transition;
  @include transition-clipping-fix;
  
  &:hover {
//    border-radius: ($border-radius/2);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transform: scale(1.2);
  }
}