/*
  Контейнер карточек - для мобильной версии карточки располагаются друг под другом, в остальных - по три в ряд. 
*/

.cards {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  
  margin: (- $size-mobile-gap / 2);
  
  @media (min-width: $size-tablet) {
    margin: (- $size-tablet-gap / 2);
  }

  @media (min-width: $size-desktop) {
    margin: (- $size-desktop-gap / 2);
  }
  
  @media (min-width: $size-fullhd) {
    margin: (- $size-fullhd-gap / 2);
  }
    
  &__item {
    flex-basis: 100%;
    margin: ($size-mobile-gap / 2);
    
    @media (min-width: $size-tablet) {
      flex-basis: 30%;
      flex-grow: 1;
      
      margin: ($size-tablet-gap / 2);
    }
    
    @media (min-width: $size-desktop) {
      margin: ($size-desktop-gap / 2);
    }

    @media (min-width: $size-fullhd) {
      margin: ($size-fullhd-gap / 2);
    }
  }
}