@mixin make-width($fullsize, $paddingsize, $fixed: false) {
  $w: ($fullsize - ($paddingsize * 2));
  @if ($fixed) {
    width: $w;
  } @else {
    width: percentage($w / $fullsize);
  }
}

/// Генерация контейнера страницы с учетом точек останова и заданных для них отступов
@mixin make-wrapper($all-sizes) {
  margin: 0 auto;
  
  $values: map-values($all-sizes);
  
  @for $i from 1 through length($values) {
    
    $size-values: nth($values, $i);
    
    @if ($i==1) {
      @include make-width(nth($size-values, 1), nth($size-values, 2));
    } 

    @else {
      @media (min-width: nth($size-values, 1)) {
        @include make-width(nth($size-values, 1), nth($size-values, 2));
      }
    }
  }
}

/// Генерация контейнера сетки
@mixin generate-container() {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
    
  justify-content: flex-start;
  align-items: stretch;
}


/// Генерация ряда сетки
/// $all-szies передает карту с размерами, отступами контейнера и расстоянием между колонками
@mixin generate-row($all-sizes) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
  $values: map-values($all-sizes);
  
  @for $i from 1 through length($values) {
    
    $size-values: nth($values, $i);
    $size: nth($size-values, 1);
    $gap: nth($size-values, 3);
    
    @if ($i==1) {
      margin-left: -$gap;
    } 

    @else {
      @media (min-width: $size) {
        margin-left: -$gap;
      }
    }
  }
}

@mixin col($col_num, $columns) {
  @if ($col_num == $columns) {
    flex-basis: 100%;
    margin: 0;
  } 
  @else {  
    flex-basis: 100%/$columns * $col_num;
  }
}

/// Генерация колонки по номеру, общему числу колонок
/// $all-sizes нужен для генерации правильных отступов при разных размерах
/// $cur-size-values - для генерации конкретного размера
@mixin generate-col($all-sizes, $cur-size-values, $columns, $col_num, $media: true) {

  flex-shrink: 0;
  flex-grow: 0;
  
  $values: map-values($all-sizes);

  @for $i from 1 through length($values) {

    $size-values: nth($values, $i);
    $size: nth($size-values, 1);
    $gap: nth($size-values, 3);
      
    @if ($i==1) {
      padding-left: $gap;
    }
    @else {
      @media (min-width: $size) {
        padding-left: $gap;
      }
    }

  }  

  $size: nth($cur-size-values, 1);
  
  @if ($media == true) {
    @media (min-width: $size) {
      @include col($col_num, $columns);
    }
  }
  @else {
    @include col($col_num, $columns);
  }
}

/// Генерация классов сетки по числу колонок: .grid12, .grid12__row, .grid12__span1 ...
@mixin generate-grid($columns, $all-sizes) {
  
  .grid#{$columns} {
    @include generate-container();

    &__row {
      @include generate-row($all-sizes);
    }
    
    @each $size, $size-values in $all-sizes {
      @for $i from 1 through $columns {
        @if ($size == "mobile") {
          &__span#{$i} {
            @include generate-col($all-sizes, $size-values, $columns, $i, false);
          }    
        }
        @else {
          &__span#{$i}-#{$size} {
            @include generate-col($all-sizes, $size-values, $columns, $i, true);
        }
        }
      }      
    }
  }
}
