$size-mobile: 320px;
$size-tablet: 768px;
$size-desktop: 1200px;
$size-fullhd: 1920px;

$size-mobile-padding: 36px;
$size-tablet-padding: 29px;
$size-desktop-padding: 130px;
$size-fullhd-padding: 375px;

$size-mobile-gap: 10px;
$size-tablet-gap: 10px;
$size-desktop-gap: 20px;
$size-fullhd-gap: 30px;

$sizes: (
  "mobile": ($size-mobile, $size-mobile-padding, $size-mobile-gap), 
  "tablet": ($size-tablet, $size-tablet-padding, $size-tablet-gap), 
  "desktop": ($size-desktop, $size-desktop-padding, $size-desktop-gap),
  "fullhd": ($size-fullhd, $size-fullhd-padding, $size-fullhd-gap)
);

.wrapper {
  @include make-wrapper($sizes);
}